jupyter
tensorflow[and-cuda]
opencv-python-headless
docopt
matplotlib
plotly
kaleido
nbconvert
pandas
numpy
dahuffman
datasets
pydot
python-dotenv
scikit-learn
ipython
nltk
reedsolo
scipy
PyWavelets
tqdm